p {
    font-family: Calibri;
    font-size: 25px;
}
h1 {
    font-family: Calibri;
    text-align: center;
    font-size: 55px;
}
h2 {
    font-family: Calibri;
    text-align: center;
    font-size: 35px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.cm3kfont {
    font-family: "Cascadia Mono";
}